/**
 * General hiding of elements
 **/
._in .Wm, /* Message list count */
._in .aeN .z0 > .L3::before, /* Compose Icon */ 
._in .aeG, /* Footer stats */ 
._in .gb_Be img.gb_Wa, /* Gmail logo */
._in .gb_Ra .gb_Sa /* GSuite Logo */
{
  display: none !important;
}

/**
 * Body and base
 **/

body._in,
._in .n0,
._in .Wn,
._in .zA > .a4W {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body._in,
._in .no {
  background: #f2f2f2;
}

._in .aeJ /* Middle section */,
._in .brC-aT5-aOt-Jw /* Right Sidebar */{
  background: transparent !important;
}


/**
 * Toolbar / Header
 **/

/* Toolbar background */
._in header { background-color: #898984 !important; }
._in[data-hash="#inbox"] header { background-color: #4285f4 !important; }
._in[data-hash="#starred"] header { background-color: #FDB500 !important; }
._in[data-hash="#snoozed"] header { background-color: #ef6c00 !important; }
._in[data-hash="#all"] header { background-color: #0f9d58 !important; }

/* Toolbar shadow */
._in header:before {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 64px;
    left: -2%;
    position: fixed;
    width: 104%;
}

/* Toolbar icons */
._in header svg {
  color: #fff !important;
  opacity: 1 !important;
}

/* Toolbar title */

._inTitle {
  display: none;
}

._in ._inTitle {
  display: block;
}

._in .gb_Ta a.gb_De {
  margin-top: -4px;
  display: block;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* Toolbar input field */
._in header input {
  filter: invert(100%);
}

/* GSuite button, invert back */
._in .gb_Ra {
  border: 0 !important;
  width: auto !important;
  background-color: transparent !important;
} 

/**
 * Sidebar
 **/

._in .aim {
  padding-left: 4px !important;
}

/* Menu item row */
._in .TK .TO {
  border-radius: 5px !important;
}

/* Menu item row active */
._in .TK .TO:active,
._in .n6 .ah9.aiu:active
._in .CL:active,
._in .TO.nZ,
._in .TO.NQ,
._in .TO.ol {
  background-color: rgba(0,0,0,.05) !important; 
}

/* Left sidebar collapsed */
._in .aeN.bhZ {
  display: none !important;
}

/* Menu container */
._in .wT {
  padding-top: 4px;
}

/* Menu item sections */
._in .TK {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

/* Menu item row inner */
._in .aim .TN {
  height: 40px;
}

/* Menu item link */
._in .TO .nU > .n0 {
  font-size: 14px;
  font-weight: normal;
}

/* Resetting Inbox menu item custom styling */
._in .wT > .n3 .byl:first-child .aim:first-child .nZ {
  background-color: rgba(0,0,0,.05) !important; 
}
._in .nZ > .aHS-bnt .qj {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/inbox_black_20dp.png") !important;
}

._in .byl .TO.nZ > .aHS-bnt .n0, .nZ>.aHS-bnt .bsU {
  color: #000 !important;
}

/**
 * Center message list section
 **/

/* Message list wrapper [TODO responsive]*/
._in .AO .aeF {
  width: 87%;
  margin: 0 auto;
 }

/* Section */
._in .aDM {
  margin-bottom: 20px;
}

/* Section collapse chevron */
._in h3.Wr > img {
  display: none;
}

/* Section title */
._in h3.Wr > .Wn {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: normal;
  color: #616161;
 }

 /* Custom Sweep Button */
 ._inSweep {
  background: transparent url("//www.gstatic.com/images/icons/material/system/1x/sweep_black_24dp.png") !important;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  border: 0;
  box-sizing: border-box;
  display: none;
  outline: 0;
 }

 ._in ._inSweep {
  display: inline-block;
 }

 ._inSweep:hover {
  opacity: 1;
 }

 /* Message row */
._in .zE,
._in .yO {
  background: #fff !important;
}

/**
 * Other elements 
 **/

/* Compose button wrapper */
._in .aeN .z0 {
  height: auto;
  margin: 0;
}

/* Compose button */
._in .aeN .z0 > .L3 {
  background: #d23f31 url("//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/btw_ic_speeddial_white_24dp.png") no-repeat center center;
  height: 56px;
  width: 56px;
  border-radius:50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0;
}
._in .aeN .z0 > .L3:hover {
  background: #d23f31 url("//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/btw_ic_speeddial_compose_white_24dp.png") no-repeat center center;
}

/* Debug element */
._in::after {
  display: block;
  position: fixed;
  bottom: 25px;
  left: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-family: monospace;
  font-size: 14;
}
